* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem;
}

:root {
  --bg-color: #101010;
  --second-bg-color: #191919;
  --text-color: #fff;
  --second-color: #c6c9d8bf;
  --main-color: #f9004d;
  --big-font: 3.3rem;
  --h2-font: 4.2rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 20px 100px;
  transition: all 0.5s ease;
}

#logo1 {
  position: absolute;
  margin-left: 160px;

}

.logo {
  color: var(--text-color);
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  /* text-transform: uppercase; */
}

.navbar {
  display: flex;

}

.navbar li {
  position: relative;
  list-style: none;
  /* margin-left: 40px; */
}

.navbar a {
  color: var(--text-color);
  font-weight: bold;
  /* font-size: 1rem; */
  padding: 10px 20px;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  /* text-transform: uppercase; */
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--main-color);
  left: 0;
  bottom: -4px;
  transition: ease 0.4s;
}

.navbar a:hover::after {
  width: 100%;
}

#menu-icon {
  font-size: 32px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.l-btn {
  padding: 0 20px;
  height: 40px;
  display: inline-block;
  line-height: 42px;
  background: var(--main-color);
  color: var(--text-color);
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s;
  /* text-transform: uppercase; */
}

.l-btn:hover {
  transform: translateY(-5px);
}

/* Home section styles */

section {
  padding: 120px 15%;
}

.home {
  /* height: 100vh
  width: 100%; */
  min-height: 100vh;
  background: url(back.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(290px, auto));
  align-items: center;

}

.home-text {
  z-index: 2;
}

.home-text h1 {
  /* margin: 20px 0px 20px; */
  font-size: var(--big-font);
  font-weight: bolder;
  animation: slideInRight 2s ease-in-out;
  margin-bottom: 10px;
}

.home-text span {
  color: var(--main-color);
}

.home-text h3 {
  font-size: 25px;
  margin-bottom: 55px;
  color: whitesmoke;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid whitesmoke;
  /* Cursor effect */
  width: 20ch;
  /* Adjust based on text length */
  animation: typing 4s steps(20, end) 1s 1 normal both,
    /* Typewriter effect */
    blink-caret .75s step-end infinite,
    /* Cursor blinking */
    fadeOutCaret 0s step-end 3s forwards;
  /* Stop blinking */

}

.home-text h4 {
  color: whitesmoke;
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 2px;
  animation: slideInLeft 2s ease-in-out;
}

.newsletter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}

.newsletter form input:first-child {
  display: inline-block;
  width: 100%;
  outline: none;
  padding: 16px 140px 16px 15px;
  border: 2px solid var(--main-color);
  border-radius: 30px;
}

.newsletter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  background: var(--main-color);
  color: var(--text-color);
  padding: 12px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 6px #000, 0px 0px 14px #868686;
  cursor: pointer;
  top: 6px;
  right: 6px;
}

header.sticky {
  padding: 12px 15%;
  background-color: var(--main-color);
}

.sticky .navbar a::after {
  background: var(--text-color);
}

.sticky .l-btn {
  background: var(--text-color);
  color: #000;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }

  50% {
    border-color: whitesmoke;
  }
}

@keyframes fadeOutCaret {
  from {
    border-color: whitesmoke;
  }

  to {
    border-color: transparent;
  }
}


/*About Section*/

.about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  background: var(--second-bg-color);
  align-items: center;
  grid-gap: 2rem;
}

.about-img img {
  max-width: 100%;
  width: 400px;
  /* height: auto; */
  border-radius: 10px;
}

.about-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 20px;
}

.about-text h5 {
  font-size: 28px;
  margin-bottom: 25px;
}

.about-text h5 span {
  color: var(--main-color);
}



.about-text p {
  color: var(--second-color);
  letter-spacing: 1px;
  line-height: 28px;
  max-width: 590px;
  font-size: var(--p-font);
  margin-bottom: 45px;
}

.d-btn {
  display: inline-block;
  background: var(--main-color);
  color: var(--text-color);
  border: 2px solid transparent;
  font-weight: 600;
  padding: 13px 30px;
  border-radius: 30px;
  transition: ease 0.35s;
}

.d-btn:hover {
  transform: translateY(-8px);
  border: 2px solid var(--main-color);
  background: transparent;
}

/* services section*/
.services {
  background-color: var(--bg-color);
}

.center {
  text-align: center;
}

.center h2 {
  font-size: var(--h2-font);
  margin-bottom: 15px;
}

.center p {
  letter-spacing: 1px;
  color: var(--second-color);
  line-height: 28px;
  font-size: var(--p-font);
}

.services-content {
  display: grid;
  grid-gap: 3rem;
  align-items: center;
  margin-top: 4.5rem;
  text-align: justify;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.row {
  border: 3px solid var(--main-color);
  background: var(--second-bg-color);
  width: 300px;
  height: 500px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.35s;
}

.row img {
  max-width: 100%;
  width: 500px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.row h3 {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.row p {
  margin-top: 20px;
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
}

.row:hover {
  transform: translateY(-8px);
}

/* project section*/

.project {
  background: var(--second-bg-color);
}

.project-content {
  display: grid;
  grid-gap: 3rem;
  align-items: center;
  margin-top: 4.5rem;
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
}

.box {
  border: 3px solid var(--main-color);
  background: var(--second-bg-color);
  width: 300px;
  height: 360px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.35s;
}

.box img {
  max-width: 100%;
  width: 500px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.box p {
  color: var(--second-color);
  font-size: var(--p-font);
  margin-bottom: 15px;
}

.box h5 {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.box:hover {
  transform: scale(1.1);
}

.project-link {
  display: inline-block;
  background: var(--main-color);
  color: var(--text-color);
  border: 2px solid transparent;
  font-weight: 600;
  padding: 13px 30px;
  border-radius: 30px;
  transition: ease 0.35s;
}

.project-link:hover {
  transform: translateY(-8px);
  border: 2px solid var(--main-color);
  background: transparent;
}

/*Contact Me*/
.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
  align-items: center;
  max-width: 100%;
}




.contact-details h2 {
  font-size: var(--h2-font);
  margin-bottom: 20px;
  color: var(--main-color);
}

.contact-details h3 {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 14px;
}

.contact-details p {
  font-size: var(--p-font);
  line-height: 28px;
  font-size: var(--p-font);
  margin-bottom: 10px;
}

.contact-details p a {
  color: var(--text-color);
}

.contact-details p a i {
  font-size: 25px;
  color: var(--main-color);
  align-items: center;
}

.contact-details h4 {
  color: var(--second-color);
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

#name {
  padding: 7px;
  border-radius: 5px;
  border: 1.5px solid var(--main-color);
  outline-color: var(--main-color);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

#email {
  margin-top: 10px;
  padding: 7px;
  border-radius: 5px;
  border: 1.5px solid var(--main-color);
  outline-color: var(--main-color);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

#comments {
  border-radius: 10px 0px;
  border: 1.5px solid var(--main-color);
  outline-color: var(--main-color);
  padding: 8px;
  height: 100px;
  margin-top: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

#button {
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
  background: var(--main-color);
  color: var(--text-color);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: ease 0.35s;
}

#button:hover {
  border: 2px solid var(--main-color);
  background: transparent;
  cursor: pointer;
  transform: translateY(-8px);
}

::placeholder {
  color: var(--second-bg-color);
  font-size: var(--p-font);
}

/* Styles for the scroll-to-top arrow button */
#scrollToTop {
  position: fixed;
  bottom: 100px;
  right: 30px;
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  display: none; /* Hidden by default */
  transition: all 0.3s;
  font-size: 24px;
  z-index: 1000;
}

#scrollToTop:hover {
  transform: translateY(-5px);
}

.blink {
  animation: blink-animation 1.5s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


/*Footer*/

footer {
  padding: 20px;
  background: #333;
  color: white;
  text-align: center;
  animation: fadeIn 1s ease-in forwards;
}

footer p {
  font-size: 24px;
}


footer .social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 34px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: color 0.3s, transform 0.3s, background 0.3s;
}

/* Hover effects */
footer .social-links a:hover {
  color: red;
  transform: scale(1.2) rotate(15deg);
}





/* MEDIA QUERY */
@media (max-width: 896px) {
  #logo1 {
    position: absolute;
    margin-left: 160px;
    visibility: hidden;


  }

  .row {
    width: 280px;

  }

  .box {
    width: 280px;

  }


}

@media (max-width: 768px) {


  #logo1 {
    position: absolute;
    margin-left: 160px;
    visibility: hidden;


  }

  header {
    padding: 18px 4%;
    transition: 0.2s;
  }

  header.sticky {
    padding: 10px 4%;
    transition: 0.2s;
  }

  section {
    padding: 80px 4%;
    transition: 0.2s;
  }

  :root {
    --big-font: 2.3rem;
    --h2-font: 3.2rem;
    --p-font: 1rem;
    transition: 0.2s;
  }

  .home {
    height: 85vh;
  }

  #menu-icon {
    display: initial;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    transition: all 0.3s;
    display: none;
  }

  .navbar a {
    display: block;
    padding: 10px;
    margin: 15px;
    border-left: 2px solid var(--text-color);
  }

  .navbar a:hover {
    background: var(--main-color);
  }

  .navbar a::after {
    top: 0;
  }

  .navbar.active {
    top: 0;
    display: flex;
  }

  .about {
    grid-template-columns: auto;
  }

  .about-img {
    text-align: center;
    margin-bottom: 30px;
  }

  .about-img img {
    max-width: 100%;
    width: 400px;
    height: auto;
  }

  .contact-details h2 {
    font-size: 35px;
    color: #f9004d;
  }

  .contact-details h3 {
    font-size: 20px;
  }



  .services-content {
    grid-gap: 3rem;
    margin-top: 2.5rem;
    text-align: justify;
    /* grid-template-columns: repeat(auto-fit, minmax(220px, 1rem)); */

    justify-items: center;
  }



  .row {
    width: 280px;
    height: 450px;
  }

  .row img {
    width: 300px;
  }

  .row h3 {
    font-size: 25px;
  }

  .row p {
    font-size: 18px;
    line-height: 25px;
  }

  .row:hover {
    transform: scale(1.1);
  }

  .project-content {
    display: grid;
    grid-gap: 3rem;
    align-items: center;
    margin-top: 4.5rem;
    /* grid-template-columns: repeat(auto-fit, minmax(230px, auto)); */
    justify-items: center;
  }



  .box {
    width: 280px;
    height: 350px;
  }

  .box img {
    width: 300px;
  }

  .box p {
    font-size: 16px;
    line-height: 15px;
  }

  .box h5 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
  }


}